@model TD.Models.Views.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
    ViewBag.Title = "Đổi mật khẩu";
}


    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal change-pw", role = "form" }))
    {
        <div >
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>

            <div>
                <div class="form-group habtn-icon-left form-control-password">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-lg", @placeholder = "Current Password" })
                </div>
            </div>
            <div>
                <div class="form-group habtn-icon-left form-control-password">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-lg", @placeholder = "New Password" })
                </div>
            </div>
            <div >
                <div class="form-group habtn-icon-left form-control-password">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-lg", @placeholder = "Confirm Password" })
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success center-block">
                    <i class="fa fa-checkmark2"></i> Change Password
                </button>
            </div>
        </div>
    }


