@model TD.Models.Views.VersionFeatureProductView
@if (Model != null)
{
    <div class="main">

        <div class="breadcrumb">
            <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
            <a href="/admin/products" class="breadcrumb-item">Ứng dụng</a>
            <a href="/admin/products/edit/@Model.ProductId" class="breadcrumb-item">@Model.ProductName</a>
            <a href="/admin/products/VersionsEdit?ProductId=@Model.ProductId&Version=@(Model.Version)" class="breadcrumb-item">@Model.Version</a>
            <a href="/admin/products/VersionFeatureProductsAdd?ProductId=@Model.ProductId&Version=@(Model.Version)" class="breadcrumb-item active">Thêm mới chức năng</a>

        </div>
        <div class="collapse-drop">
            <a class="togger circle" data-toggle="more-action"><span class="line"></span></a>
            <a class="fast" href="/admin/products"><i class="fa fa-users"></i><span>Ứng dụng</span></a>
            <a class="fast" href="/admin/Partners" title="Danh sách khách hàng"><i class="fa fa-users"></i><span>Khách hàng</span></a>
        </div>

        <div class="form-title">
            Thêm mới chức năng @Model.ProductName - @Model.Version
        </div>
        <form class="form">
            @Html.AntiForgeryToken()
            <input type="hidden" name="ProductId" value="@Model.ProductId" />
            <input type="hidden" name="Version" value="@Model.Version" />
            <div class="input--sae">
                @Html.DropDownListFor(x => x.Selected, Model.FeatureProducts, new { @class = "chosen", count = 1, data_placeholder = "Chọn chức năng" })
            </div>

            <div class="input--sae">
                <i class="fa fa-award fa-fix"></i>
                <input class="input-text" type="text" name="Content" value="@Model.Content" placeholder="Chức năng" />
            </div>

            <div class="form-btn">
                <a class="btn submit btn-success" title="Lưu"><i class="fa fa-save"></i>Lưu</a>

            </div>
        </form>
    </div>




}
else
{
    <div class="main">

        <div class="breadcrumb">
            <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
            <a href="/admin/products" class="breadcrumb-item">Ứng dụng</a>
            <a href="/admin/products/edit/" class="breadcrumb-item active"></a>


        </div>

        <div class="form-title">
            Chưa có dữ liệu
        </div>


    </div>
}