@model IEnumerable<TD.Models.Gallery>
<h4 class="form-title">
    Gallery
</h4>
<div class="table">
    <div class="table-row table-row-header">
        <span class="table-cell">
            Tiêu đề
            <a href="/admin/CreateMS" class="btn left" title="Thêm mới">
                Thêm mới
            </a>
        </span>
        <span class="table-cell">
            Subtile
        </span>
        <span class="table-cell">
            Liên kết
        </span>
        <span class="table-cell">
            Nút bấm
        </span>
        <span class="table-cell">
            Video
        </span>
    </div>

    @foreach (var item in Model)
    {
        <div class="table-row">
            <input type="radio" name="expand" />
            <span class="table-cell primary">
                <a href="/admin/EditMS/@item.Id" title="Click vào đây để xem chi tiết">
                    <i class="fa fa-edit"></i>   @item.Name
                </a>
            </span>
            <span class="table-cell" data-label="Subtitle">
                @item.Subtitle
            </span>
            <span class="table-cell" data-label="Link">
                @item.Link
            </span>
            <span class="table-cell" data-label="Button">
                @item.ButtonText
            </span>
            <span class="table-cell" data-label="Video">
                @item.VideoLink
            </span>
        </div>

    }
</div>

