@model TD.Models.Gallery
<div class="main">
    <div class="breadcrumb">
        <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
        <a href="/Admin/homeadmin/config" class="breadcrumb-item">Cấu hình</a>
        <a href="/Admin/EditMS/@Model.Id" class="breadcrumb-item active">Chỉnh sửa ảnh</a>

    </div>
    <form class="form" data-src="/admin/galleries/edit">
        <h4 class="form-title">
            Chỉnh sửa ảnh sản phẩm
        </h4>

        @Html.AntiForgeryToken()
        <input type="hidden" name="AppFileId" value="@ViewBag.AppFileId" />
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="Name" value="@Model.Name" />
        <input type="hidden" name="Subtitle" value="@Model.Subtitle" />

        <input type="hidden" id="ImageData" name="ImageData" value="" />
        <div>
            <input type="checkbox" name="InHome" class="ck" title="Đưa lên trang chủ" value="@(Model.InHome?"true":"false")" />
        </div>
        <div class="input--sae">
            <input class="input-text" name="ButtonText" />
            <label class="label">
                <i class="fa fa-edit"></i>
                <span class="text">Nút bấm</span>
            </label>
        </div>
        <div class="input--sae">
            <input class="input-text" name="Link" />
            <label class="label">
                <i class="fa fa-link"></i>
                <span class="text">Liên kết</span>
            </label>
        </div>
        <div class="input--sae">
            <input class="input-text" name="VideoLink" />
            <label class="label">
                <i class="fa fa-video"></i>
                <span class="text">Video</span>
            </label>
        </div>
        <div class="sw sw-one">
            <div class="swiper-wrapper">
                <div class="swiper-slide bg-center" style='background-image: url(@Model.AppFiles.First().FullPath)'>
                    <div class="sw-text">
                        <h1 class="froa" name="Name">
                             @Html.Raw(string.IsNullOrEmpty(Model.Name) ? "Tấn Đạt" :(Model.Name))
                        </h1>
                        <h3 class="froa" name="Subtitle">
                            @Html.Raw(string.IsNullOrEmpty(Model.Subtitle) ? "Providing Complete IT Solutions" : Model.Subtitle)
                        </h3>
                        @if (!string.IsNullOrEmpty(Model.VideoLink))
                        {
                            <a class="btn-link popup-video btn-primary btn btn-circle" href="@Model.VideoLink" title="@Model.VideoLink">
                                <i class="fa fa-play"></i>
                            </a>
                        }
                        else
                        {
                            <a class="btn-link btn-primary btn" href="@Model.Link" title="@Model.Link">
                                <i class="fa fa-checkmark"></i>
                                @Html.Raw(Model.ButtonText)
                            </a>
                        }
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-circle btn-primary btn-next"><i class="fa fa-chevron-right"></i></a>
            <a href="#" class="btn btn-circle btn-primary btn-prev"><i class="fa fa-chevron-left"></i></a>
            <a href="#scr-promo" class="scrollTo scrollTo-init f">
                <span class="color-white fa fa-angle-double-down"></span>
            </a>
        </div>

        <div class="form-btn">
            <a class="btn submit btn-success" title="Lưu"><i class="fa fa-save"></i>Lưu</a>
            <a class="btn delete" title="Xóa Gallery" data-src="/admin/deleteMS/@Model.Id">
                <i class="fa fa-cross"></i>Xóa
            </a>
        </div>
    </form>
</div>

