@model TD.Models.Partner
@if (Model != null)
{
    <div class="main">
        <div class="breadcrumb">
            <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
            <a href="/Admin/partners" class="breadcrumb-item">Khách hàng</a>
            <a href="/Admin/partners/edit/@Model.Id" class="breadcrumb-item active">Cập nhật</a>
        </div>
        <div class="more-action">
            <a class="btn" href="/admin/products" title="Danh sách ứng dụng">Ứng dụng</a>
            <a class="btn btn-success" href="/admin/partners/create" title="Thêm mới khách hàng">Thêm mới</a>
        </div>
       
            <div class="container-fl">
                <form class="form fix-300">
                    <h4 class="form-title">
                        Thông tin Khách hàng
                    </h4>
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="ImageData" name="ImageData" value="" />
                    <figure class="image-fake" data-src=@(string.IsNullOrEmpty(Model.Logo) ? "" : Model.Logo) data-width="200" data-height="100" data-upload="1">
                        <noscript><img src="/data/site_svg/noavatar.png" width="200" height="100" /></noscript>
                    </figure>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="input--sae">
                        <i class="fa fa-edit fa-fix"></i>
                        <input class="input-text" name="Name" value="@Model.Name" placeholder="Tên khách hàng" required />
                    </div>
                    <div class="input--sae">
                        <i class="fa fa-phone fa-fix"></i>
                        <input class="input-text" name="Phone" value="@Model.Phone" placeholder="Điện thoại" type="number" />
                    </div>
                    <div class="input--sae">
                        <i class="fa fa-info fa-fix"></i>
                        <input class="input-text" name="Address" value="@Model.Address" placeholder="Địa chỉ" />
                    </div>
                    <div class="input--sae">
                        <i class="fa fa-email fa-fix"></i>
                        <input class="input-text" name="Email" value="@Model.Email" placeholder="Email" type="email" />
                    </div>
                    <div class="input--sae">
                        <i class="fa fa-code fa-fix"></i>
                        <input class="input-text" name="TaxNumber" value="@Model.TaxNumber" placeholder="Mã số thuế" type="number" />
                    </div>
                    <div class="form-btn">
                        <a class="btn submit btn-success" title="Lưu khách hàng"><i class="fa fa-save"></i> Lưu</a>
                        <a class="btn delete" title="Xóa khách hàng" data-src="/admin/partners/delete/@Model.Id">
                            <i class="fa fa-cross"></i>Xóa
                        </a>
                    </div>
                </form>
                <div class="auto-w">
                    <h4 class="form-title">
                        Ứng dụng đang sử dụng
                    </h4>
                    <div class="lazy" data-src="/admin/partners/PartnerApps/@Model.Id"></div>
                </div>
            </div>


        </div>


 
}
else
{
    <div class="main">
        <div class="breadcrumb">
            <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
            <a href="/Admin/partners" class="breadcrumb-item">Khách hàng</a>
            <a href="/Admin/partners/edit/" class="breadcrumb-item active">Cập nhật</a>
        </div>
        <div class="more-action">
            <a class="btn" href="/admin/products" title="Danh sách ứng dụng">Ứng dụng</a>
            <a class="btn btn-success" href="/admin/partners/create" title="Thêm mới khách hàng">Thêm mới</a>
        </div>
     
            <h4 class="form-title">Không có dữ liệu</h4>
        </div>


 
}

