@model TD.Models.AppInfo

<div class="main">
    
        <div class="breadcrumb">
            <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
            <a href="/Admin/Apps" class="breadcrumb-item">Sản phẩm</a>
            <a href="/Admin/Apps/info" class="breadcrumb-item">Thông số</a>
            <a href="/Admin/Apps/EditInfo/@Model.Id" class="breadcrumb-item active">Chỉnh sửa</a>
            @using (Html.BeginForm("Index", "Apps", FormMethod.Get, htmlAttributes: new { @class = "search-form" }))
            {
                <input type="text" name="Search" value="@ViewBag.CurrentFilter" class="search-input" placeholder="Tìm kiếm theo tên sản phẩm" />
                @*@Html.TextBox("Search", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "search-input", @placeholder = "Tìm kiếm bài viết" })*@
            }
        </div>
       
            <form class="form">
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="@Model.Id" />
                <a class="collapse-close">
                    <span class="line"></span>
                </a>
                <div class="form-title">
                    Cập nhật thông số
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="head">
                            Loại thông số
                        </div>
                        <div class="input--sae">
                            <i class="fa fa-edit fa-fix"></i>
                            <input class="input-text" name="Name" placeholder="Tên thông số" required data-rule-remote="/pub/AppInfoCheck" data-rule-minlength="2" value="@Model.Name" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="head">
                            Kiểu
                        </div>

                        <input type="checkbox" class="ck" name="Comparable" value="@(Model.Comparable?"true":"false")" />
                        <label class="d-in">
                            Có thể so sánh
                        </label>

                    </div>

                </div>

                <div class="submit-container">
                    <a class="btn submit btn-success" title="Lưu"><i class="fa fa-save"></i>Lưu</a>
                    <a class="btn delete btn-outline-danger" title="Xóa" data-src="/admin/products/deleteinfo/@Model.Id">
                        <i class="fa fa-cross"></i>Xóa
                    </a>
                </div>

            </form>
        </div>

   