@model X.PagedList.IPagedList<TD.Models.Slide>
@using X.PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@section PageTitle{
    <h1>
        Slide Manager
        <small>blog & comments</small>
    </h1>
}

@section BreadCrumb{
    <li><i class="fa fa-hacker-news"></i>Slide Manager</li>
}

@section searchForm{
    @using (Html.BeginForm("Index", "Slides", FormMethod.Get, htmlAttributes: new { @class = "search-form" }))
    {


        <div class="input-group">

            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control", @placeholder = "Search" })
            <span class="input-group-btn">
                <button class="btn submit" type="submit"><i class="fa fa-search"></i></button>
            </span>

        </div>
    }


}
@Html.Hidden("item-to-delete", "", new { @id = "item-to-delete" })

<div class="mt-bootstrap-tables">
    <div class="row">
        <div class="col-xs-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark bold uppercase">Danh sách blog</span>
                    </div>
                    <div class="actions">

                        <span class="input-group-btn">
                            @Html.ActionLink("Thêm mới", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
                        </span>

                    </div>
                </div>
                <div class="portlet-body">
                    <table data-toggle="table" class="table table-bordered">
                        <tr>
                            <th>
                                @Html.ActionLink("Tên", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, htmlAttributes: new { @class = "th-inner sortable both desc" })
                            </th>


                            <th>
                                Liên kết
                            </th>

                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="text">
                                    <span><a href="/Admin/Slides/Edit/@item.Id" class="text">@item.Name</a></span>

                                </td>

                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Tags)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Link)
                                </td>

                                <td class="button">

                                    <a href="" class="btn btn-danger btn-xs delete" data-toggle="modal" data-target="#mdDeleteConfim" data-id="@item.Id"><i class="fa fa-recycle"></i></a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="mdDeleteConfim" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Please Confirm Delete</h4>
            </div>
            <div class="modal-body">
                Bạn muốn xóa bài viết này ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="mySubmit" class="btn btn-primary" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
@section PageScripts{
    <script>
        var deleterow = null;
        $('.delete').click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $('#item-to-delete').val(id);
            deleterow = $(this).parents("tr:first")
        });


        //Everytime we press sumbit on the modal form...
        $('#mySubmit').click(function () {

            //Get the id to delete from the hidden field
            var id = $('#item-to-delete').val();


            //Call our delete actionresult and pass over this id
            $.post(
                '@Url.Action("Delete", "Slides")',
                AddAntiForgeryToken({ id: id }),
                function (data, status) {
                    if (status == 'success' && data == 'True')
                        deleterow.fadeOut('fast', function () {
                            deleterow.remove();
                        });

                });

            $('#mdDeleteConfim').modal('hide');
        });
        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };
    </script>
}