@model TD.Models.Views.VersionFeatureAppView
<div class="main">

    <div class="breadcrumb">
        <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
        <a href="/admin/products" class="breadcrumb-item">Ứng dụng</a>
        <a href="/admin/products/edit/@Model.AppId" class="breadcrumb-item">@Model.AppName</a>
        <a href="/admin/products/VersionsEdit?AppId=@Model.AppId&Version=@Model.Version" class="breadcrumb-item">@Model.Version</a>
        <a href="/admin/products/VersionFeatureAppsEdit?Version=@Model.Version&AppId=@Model.AppId&FeatureAppId=@Model.FeatureAppId" class="breadcrumb-item active">Chức năng</a>

    </div>
    <div class="collapse-drop">
        <a class="togger circle" data-toggle="more-action"><span class="line"></span></a>
        <a class="fast" href="/admin/products"><i class="fa fa-users"></i><span>Ứng dụng</span></a>
        <a class="fast" href="/admin/Partners" title="Danh sách khách hàng"><i class="fa fa-users"></i><span>Khách hàng</span></a>
    </div>

    @if (Model != null)
            {
        <div class="form-title">
            Chức năng ứng dụng @Model.AppName - @Model.Version
        </div>
                <form class="form">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="AppId" value="@Model.AppId" />
                    <input type="hidden" name="Version" value="@Model.Version" />
                    <div class="input--sae">
                        @Html.DropDownListFor(x => x.Selected, Model.FeatureApps, new { @class = "chosen", count = 1, data_placeholder = "Chọn chức năng" })
                    </div>

                    <div class="input--sae">
                        <i class="fa fa-award fa-fix"></i>
                        <input class="input-text" type="text" name="Content" value="@Model.Content" placeholder="Chức năng" />
                    </div>

                    <div class="form-btn">
                        <a class="btn submit btn-success" title="Lưu"><i class="fa fa-save"></i>Lưu</a>
                        <a class="btn delete" title="Xóa chức năng" data-src="/admin/products/VersionsFeatureAppsDelete?AppId=@Model.AppId&Version=@(Model.Version)&FeatureAppId=@Model.FeatureAppId ">
                            <i class="fa fa-cross"></i>Xóa
                        </a>
                    </div>
                </form>

    }
    else
    {
        <h4 class="form-title">Không tìm thấy phiên bản ứng dụng</h4>
    }
</div>




